<form class="d-flex justify-content-left mb-2">
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        
        <button class="btn btn-danger" type="button">-</button>
        <button class="btn btn-primary" value="add">+</button>
    </div>
  </form>