.icon-influxdb-true {
    top: 24%;
    position: absolute;
    color: limegreen;
    left: 90%;
}
.icon-influxdb-false{
    top: 24%;
    position: absolute;
    color: rgb(209, 9, 9);
    left: 90%;
    
}
#chartdiv_main {
    width: 100%; 
    height: 560px;
}
.mat-progress-spinner {
    display: inline-flex !important;
}
